@font-face {
	font-family: 'Gotham Pro';
	src: url(/site-files/gotham.otf);
}
@font-face {
	font-family: 'Gotham Pro Bold';
	src: url(/site-files/gotham-bold.otf);
}
@font-face {
	font-family: 'Gotham Pro Light';
	src: url(/site-files/gotham-light.otf);
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Gotham Pro', Arial;
}

a {
	color: #0089cf;
	-webkit-transition: color ease-out 0.3s;
	-moz-transition: color ease-out 0.3s;
	-o-transition: color ease-out 0.3s;
	transition: color ease-out 0.3s;
}

a:hover {
	color: #0066b3;
}

.clean {
	clear: both;
}

.grid {
	width: 960px;
	margin: 0 auto 0 auto;
}

.gridTwo {
	width: 980px;
	margin: 0 auto 0 auto;
}

.zag {
	width: 960px;
	height: 50px;
	margin: 0 auto 30px auto;
	font-size: 42px;
	line-height: 40px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color: #0089cf;
}

.zagWhite {
	width: 960px;
	height: 50px;
	margin: 0 auto 0 auto;
	padding: 40px 0 40px 0;
	font-size: 42px;
	line-height: 40px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color: white;
}

.zaborWhite {
	width: 100%;
	height: 10px;
	margin: 0 0 -10px 0;
	background-image: url(roundLine.png);
	position: relative;
	z-index: 999;
}

.zaborWhiteUpDown {
	width: 100%;
	height: 10px;
	margin: -10px 0 0 0;
	background-image: url(roundLineUp.png);
	position: relative;
	z-index: 999;
}

.roundLineSeparator {
	width: 470px;
	height: 10px;
	margin: 0 auto 40px auto;
	background-image: url(roundLine470px.png);
	background-repeat: no-repeat;
}

.roundLineSeparatorFullWidth {
	width: 100%;
	height: 10px;
	margin: 80px auto 0 auto;
	background-image: url(roundLine470px.png);
	background-repeat: repeat-x;
}

.roundLineSeparatorWhiteShort {
	width: 225px;
	height: 10px;
	margin: 0 auto 0 auto;
	background-image: url(roundLineWhite225px.png);
	background-repeat: no-repeat;	
}

#headerMain {
	width: 100%;
	height: 150px;
	background-image: url(headerBG.png);
}

#logo {
	background-image: url(logo.png);
	background-position: center left;
	background-repeat: no-repeat;
	width: 347px;
	height: 150px;
	float: left;
}

.headerContacts {
	width: 225px;
	height: 66px;
	padding: 37px 0 0 0;
	float: right;
	color: white;
	line-height: 24px;
}

.headerContactsZag {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

#promoMain {
	display: block;
	width: 100%;
	background-image: url(roundLineUp.png);
	background-position: top;
	background-repeat: repeat-x;
	margin: -10px 0 0 0;
	padding: 10px 0 0 0;
}

.promoText {
	width: 240px;
	font-size: 42px;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #0089cf;
	margin: 240px 0 0 0;
}

#promoTextLeft {
	float: left;
	text-align: right;
}

#promoTextRight {
	float: left;
	text-align: left;
}

#zub {
	width: 480px;
	height: 471px;
	margin: 60px 0 60px 0;
	background-image: url(zub.jpg);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
}

#mainMenu {
	width: 550px;
	height: 40px;
	margin: 30px auto 40px auto;
	text-align: center;
}

.mainMenuLink {
	display: block;
	width: 159px;
	height: 36px;
	border: 2px solid #0089cf;
	border-radius: 40px;
	margin: 0 10px 0 10px;
	float: left;
	text-align: center;
	line-height: 38px;
	color: #666666;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: color, background-color ease-out 0.3s;
	-moz-transition: color, background-color ease-out 0.3s;
	-o-transition: color, background-color ease-out 0.3s;
	transition: color, background-color ease-out 0.3s;
}

.mainMenuLink:hover {
	background-color: #0089cf;
	color: white;
}

#active {
	background-color: #0089cf;
	color: white;
}

.uslugiMain {
	width: 225px;
	height: 120px;
	margin: 0px 10px 40px 10px;
	float: left;
}

.uslugiMain span {
	display: block;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #0089cf;
	padding: 0 0 10px 0;
}

#showPriceButton {
	display: block;
	width: 225px;
	height: 46px;
	margin: 20px auto 60px auto;
	border: 2px solid #0089cf;
	border-radius: 40px;
	text-align: center;
	line-height: 48px;
	color: #666666;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: color, background-color ease-out 0.3s;
	-moz-transition: color, background-color ease-out 0.3s;
	-o-transition: color, background-color ease-out 0.3s;
	transition: color, background-color ease-out 0.3s;
}

#showPriceButton:hover {
	background-color: #0089cf;
	color: white;
}

#aboutUsMain {
	width: 100%;
	background-color: #0089cf;
	background-image: url(aboutUsBG.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0 0 -10px 0;
}

.aboutUsPhoto {
	width: 225px;
	height: 220px;
	margin: 0 10px 0 10px;
	border-radius: 6px;
	float: left;
}

.aboutUsPhotoOverlay {
	width: 225px;
	height: 220px;
	background-image: url(loupe.png);
	opacity: 0.0;
	margin: 0 0 -220px 0;
	position: relative;
	z-index: -1;
	border-radius: 6px;
	-webkit-transition: opacity ease-out 0.3s;
	-moz-transition: opacity ease-out 0.3s;
	-o-transition: opacity ease-out 0.3s;
	transition: opacity ease-out 0.3s;
}

.round {
	border-radius: 6px;
	width: 225px;
	height: 220px;
}

.aboutUsPhoto:hover .aboutUsPhotoOverlay {
	z-index: 999;
	opacity: 1;
}

.aboutUsText {
	width: 715px;
	height: 60px;
	color: white;
	margin: 40px auto 40px auto;
	text-align: center;
}

.doctorMain {
	width: 225px;
	height: 330px;
	margin: 0 10px 40px 10px;
	float: left;
}

.doctorMain img {
	width: 225px;
	height: 225px;
	border-radius: 176px;
	background-color: white;
	margin: 0 0 35px 0;
	border-radius: 176px;
}

.doctorName {
	width: 225px;
	margin: 0 0 10px 0;
	color: white;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
}

.doctorMain span {
	display: block;
	width: 225px;
	height: 40px;
	font-size: 14px;
	color: white;
	text-align: center;
}

.contactsMain {
	width: 100%;
	height: 330px;
	background-image: url(roundLineUp.png);
	background-repeat: repeat-x;
}

#contactsTextBig {
	width: 100%;
	text-align: center;
	font-size: 28px;
	color: #333333;
	line-height: 40px;
}

#contactsTextSmall {
	width: 100%;
	height: 20px;
	padding: 20px 0 0 0;
	text-align: center;
}

#map {
	width: 100%;
	height: 440px;
	margin: 0 0 -10px 0;
	background-color: #0089cf;
	opacity: 0.85;
}

#mapOverlay {
	width: 100%;
	height: 440px;
	background-color: gray;
	position: relative;
	top: -430px;
	margin: 0 0 -440px 0;
	z-index: -1;
}

#footerMain {
	width: 100%;
	height: 110px;
	background-image: url(roundLineUpFooter.png);
	background-repeat: repeat-x;
	background-position: top;
	position: relative;
	z-index: 999;
}

#copyright {
	width: 225px;
	height: 40px;
	padding: 40px 175px 0 0;
	float: left;
}

#vseBudet {
	width: 205px;
	height: 40px;
	padding: 40px 0 0 0;
	float: right;
}

/*Прайс*/
#priceChange {
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #666666;
	padding: 0 0 40px 0;
}

#priceTable {
	width: 715px;
	margin: 0 auto 0 auto;
}

#priceTable td {
	border-bottom: 1px solid #0089cf;
}

.noLine {
	border: none !important;
	height: 30px;
}

.priceCost {
	width: 102px;
	height: 30px;
	text-align: right;
	border-bottom: 1px solid #0089cf;
}

.priceCostNoLine {
	width: 102px;
	height: 30px;
	text-align: right;
	border: none !important;
}

#priceTable th {
	height: 45px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	vertical-align: bottom;
	padding: 0 0 5px 0;
}