@font-face {
	font-family: 'Gotham Pro';
	src: url(/site-files/gotham.otf);
}
@font-face {
	font-family: 'Gotham Pro Bold';
	src: url(/site-files/gotham-bold.otf);
}
@font-face {
	font-family: 'Gotham Pro Light';
	src: url(/site-files/gotham-light.otf);
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Gotham Pro', Arial;
}

a {
	text-decoration: none;
	border-bottom: 1px solid #0089cf;
	padding: 0 0 5px 0;
	color: #0089cf;
	-webkit-transition: color ease-out 0.3s;
	-moz-transition: color ease-out 0.3s;
	-o-transition: color ease-out 0.3s;
	transition: color ease-out 0.3s;
}

a:hover {
	color: #0066b3;
}

h1 {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 60px 0 60px 0;
	font-size: 42px;
	font-weight: normal;
	color: #0089cf;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 40px;
	font-family: 'Gotham Pro Light';
}

b {
	font-weight: normal;
	font-family: 'Gotham Pro Bold';
}

.clean {
	clear: both;
}

.grid {
	width: 960px;
	margin: 0 auto 0 auto;
}

.gridTwo {
	width: 980px;
	margin: 0 auto 0 auto;
}

.zaborWhite {
	width: 100%;
	height: 10px;
	margin: 0 0 -10px 0;
	background-image: url(roundLine.png);
	position: relative;
	z-index: 999;
}

.zaborWhiteUpDown {
	width: 100%;
	height: 10px;
	margin: -10px 0 0 0;
	background-image: url(roundLineUp.png);
	position: relative;
	z-index: 999;
}

.roundLineSeparator {
	width: 300px;
	height: 10px;
	margin: 80px auto 20px auto;
	background-image: url(roundLine470px.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.roundLineSeparatorFullWidth {
	width: 100%;
	height: 10px;
	margin: 80px auto 0 auto;
	background-image: url(roundLine470px.png);
	background-repeat: repeat-x;
}

.roundLineSeparatorWhiteShort {
	width: 225px;
	height: 10px;
	margin: 0 auto 0 auto;
	background-image: url(roundLineWhite225px.png);
	background-repeat: no-repeat;	
}

#headerMain {
	width: 100%;
	background-image: url(headerBG-new.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #4E9BD3;
}

#logo {
	background-image: url(logo.png);
	background-position: center left;
	background-repeat: no-repeat;
	width: 347px;
	height: 200px;
	float: left;
}

.headerContacts {
	height: 66px;
	padding: 58px 0 0 40px;
	float: right;
	color: white;
	line-height: 24px;
	font-size: 14px;
}

.headerContactsZag {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

#promoMain {
	display: block;
	width: 100%;
	background-image: url(roundLineUp.png);
	background-position: top;
	background-repeat: repeat-x;
	margin: -10px 0 0 0;
	padding: 10px 0 0 0;
}

.promoText {
	width: 240px;
	font-size: 38px;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #0089cf;
	margin: 240px 0 0 0;
}

#promoTextLeft {
	float: left;
	text-align: right;
}

#promoTextRight {
	float: left;
	text-align: left;
}

#zub {
	width: 480px;
	height: 419px;
	margin: 60px 0 0 0;
	background-image: url(zub.jpg);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
}

#mainMenu {
	width: 100%;
	margin: 80px auto 0 auto;
	text-align: center;
}

#mainMenu a {
	display: inline-block;
	width: 200px;
	border: 2px solid #0089cf;
	border-radius: 60px;
	margin: 0 10px 0 10px;
	padding: 15px 0 15px 0;
	text-align: center;
	color: #666666;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: color, background-color ease-out 0.3s;
	-moz-transition: color, background-color ease-out 0.3s;
	-o-transition: color, background-color ease-out 0.3s;
	transition: color, background-color ease-out 0.3s;
	font-family: 'Gotham Pro Bold';
}

#mainMenu span {
	display: inline-block;
	width: 200px;
	border: 2px solid #0089cf;
	border-radius: 60px;
	margin: 0 10px 0 10px;
	padding: 15px 0 15px 0;
	text-align: center;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'Gotham Pro Bold';
	background-color: #0089cf;
}

#mainMenu a:hover {
	background-color: #0089cf;
	color: white;
}

#active {
	background-color: #0089cf;
	color: white;
}

#uslugiMain {
	width: 960px;
	margin: 0 auto 60px auto;
}

#uslugiMain div {
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #878787;
	font-family: 'Gotham Pro Bold';
	background-color: #e9e9e9;
	text-align: center;
	padding: 20px 30px 20px 30px;
	margin: 20px 10px 0 10px;
	border-radius: 10px;
}

#showPriceButton {
	display: block;
	width: 200px;
	border: 2px solid #0089cf;
	border-radius: 60px;
	margin: 20px auto 60px auto;
	padding: 20px 0 20px 0;
	text-align: center;
	color: white;
	background-color: #0089cf;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: color, background-color ease-out 0.3s;
	-moz-transition: color, background-color ease-out 0.3s;
	-o-transition: color, background-color ease-out 0.3s;
	transition: color, background-color ease-out 0.3s;
}

#showPriceButton:hover {
	background-color: white;
	color: #0089cf;
}

#aboutUsMain {
	width: 100%;
	background-color: #0089cf;
	background-image: url(aboutUsBG.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0 0 -10px 0;
	padding: 15px 0 40px 0;
}

#aboutUsMain h1 {
	color: white;
}

.aboutUsPhoto {
	width: 225px;
	height: 220px;
	margin: 0 10px 0 10px;
	border-radius: 6px;
	float: left;
}

.aboutUsPhotoOverlay {
	width: 225px;
	height: 220px;
	background-image: url(loupe.png);
	opacity: 0.0;
	margin: 0 0 -220px 0;
	position: relative;
	z-index: -1;
	border-radius: 6px;
	-webkit-transition: opacity ease-out 0.3s;
	-moz-transition: opacity ease-out 0.3s;
	-o-transition: opacity ease-out 0.3s;
	transition: opacity ease-out 0.3s;
}

.round {
	border-radius: 6px;
	width: 225px;
	height: 220px;
}

.aboutUsPhoto:hover .aboutUsPhotoOverlay {
	z-index: 999;
	opacity: 1;
}

.aboutUsText {
	width: 715px;
	color: white;
	margin: 40px auto 60px auto;
	text-align: center;
}

.doctorMain {
	width: 225px;
	height: 330px;
	margin: 0 10px 40px 10px;
	float: left;
}

.doctorMain img {
	width: 225px;
	height: 225px;
	border-radius: 176px;
	background-color: white;
	margin: 0 0 35px 0;
	border-radius: 176px;
}

.doctorName {
	width: 225px;
	margin: 0 0 10px 0;
	color: white;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Gotham Pro Bold';
}

.doctorMain span {
	display: block;
	width: 225px;
	height: 40px;
	font-size: 14px;
	color: white;
	text-align: center;
}

.contactsMain {
	width: 100%;
	background-image: url(roundLineUp.png);
	background-repeat: repeat-x;
	padding: 30px 0 100px 0;
}

#contactsTextBig {
	width: 100%;
	text-align: center;
	font-size: 28px;
	color: #333333;
	line-height: 40px;
}

#contactsTextSmall {
	width: 100%;
	height: 20px;
	padding: 20px 0 0 0;
	text-align: center;
}

#map {
	width: 100%;
	height: 500px;
	background-color: #d6d6d6;
}

#footerMain {
	width: 100%;
	padding: 60px 0 60px 0;
}

#copyright {
	width: 225px;
	padding: 0 175px 0 0;
	float: left;
}

#vseBudet {
	width: 205px;
	padding: 0 0 0 0;
	float: right;
}

#priceChange {
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #666666;
	padding: 0 0 40px 0;
	font-family: 'Gotham Pro Bold';
}

#priceTable {
	width: 740px;
	margin: 0 auto 0 auto;
}

#priceTable td {
	border-bottom: 1px solid #d6d6d6;
	padding: 10px 0 10px 0;
}

.noLine {
	border: none !important;
	height: 30px;
}

.priceCost span {
	font-family: 'PT Sans';
}

.priceCostNoLine span {
	font-family: 'PT Sans';
}

.priceCost {
	width: 110px;
	text-align: right;
	border-bottom: 1px solid #0089cf;
}

.priceCostNoLine {
	width: 110px;
	text-align: right;
	border: none !important;
}

#priceTable th {
	padding: 30px 0 0 0;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	vertical-align: bottom;
	font-family: 'Gotham Pro Bold';
}

.note {
	width: 680px;
	margin: 80px auto 0 auto;
	padding: 30px;
	background-color: #ffdcd0;
	border-radius: 10px;
	color: #363636;
}

#contacts {
	font-size: 24px;
	line-height: 34px;
	margin: 0 auto 80px auto;
	text-align: center;
}

#contacts span {
	width: 41px;
	float: left;
	height: 68px;
	display: block;
	margin: 0 20px 0 0;
	background-position: left center;
	background-repeat: no-repeat;
}

#contacts #phone {
	background-image: url(phone.svg);
}

#contacts #geo {
	background-image: url(geo.svg);
}

#contacts div {
	display: inline-block;
	width: 330px;
	margin: 0 15px 0 15px;
	text-align: left;
}

.info {
	width: 50px;
	height: 50px;
	margin: 0 0 -50px 0;
	background-image: url(info.svg);
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	bottom: 50px;
	right: 50px;
	transform: rotate(-10deg);
}